@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

$white: #FFFFFF;
$white-two: #F5F5F5;
$gray: #A2A2A2;
$gray-two: #464646;
$blue: #2A7AE4;
$blue-two: #5595E9;
$light-blue: #E0EAF9;
$black: #000000;

$font: 'Raleway', 'sans-serif';