* {
    font-family: $font;
}

body {
    background-color: $white-two;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $gray;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 20px;
    visibility: visible;
}